NYC MTA Turnstile Usage Dataset

Have a look at / download the following dataset :

- Go to http://web.mta.info/developers/turnstile.html

- This dataset shows entry & exit counter values for each turnstile-device in each station in the NYC Subway System.

- Note these aren’t counts per interval, but equivalent to an “odometer” reading for each device.

In [142]:
#from datetime import datetime, timedelta
#import pandas as pd
#date=datetime(2010,5,8)
#while date<=datetime(2018,5,5):
#    datestr=date.strftime("%y%m%d")
#    mtaurl='http://web.mta.info/developers/data/nyct/turnstile/turnstile_' + datestr + '.txt'
#    print(mtaurl)
#    date=date+timedelta(weeks=1)
#    try:
#        dfnew= pd.read_csv(mtaurl)
#        df=df.append(dfnew)
#    except Exception:
#        pass
#print(df.head())

Which station has the most number of units?

Station: 23 ST

In [39]:
df180505=pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180505.txt')
print(df180505.groupby('STATION').UNIT.nunique().reset_index(name='count').sort_values(['count'],ascending=False).head(1))
df180428=pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180428.txt')
print(df180428.groupby('STATION').UNIT.nunique().reset_index(name='count').sort_values(['count'],ascending=False).head(1))

   STATION  count
45   23 ST      6
   STATION  count
45   23 ST      6

What is the total number of entries & exits across the subway system for February 1, 2013?

In [143]:
df130202=pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_130202.txt', header=None)

df130202.columns=['C/A','UNIT','SCP','DATE1','TIME1','DESC1','ENTRIES1','EXITS1','DATE2','TIME2','DESC2','ENTRIES2','EXITS2',
                  'DATE3','TIME3','DESC3','ENTRIES3','EXITS3','DATE4','TIME4','DESC4','ENTRIES4','EXITS4',
                  'DATE5','TIME5','DESC5','ENTRIES5','EXITS5','DATE6','TIME6','DESC6','ENTRIES6','EXITS6',
                  'DATE7','TIME7','DESC7','ENTRIES7','EXITS7','DATE8','TIME8','DESC8','ENTRIES8','EXITS8']

#Nentries=df130202[df130202['DATE']=='02/01/2013'].ENTRIES.nunique()
#Nexits=df130202[df130202['DATE']=='02/01/2013'].EXITS.nunique()

#print(df130202[['DATE1','DATE2','DATE3','DATE4','DATE5','DATE6','DATE7']].head(10))

df1=df130202[['C/A','UNIT','SCP','DATE1','TIME1','DESC1','ENTRIES1','EXITS1']]
df2=df130202[['C/A','UNIT','SCP','DATE2','TIME2','DESC2','ENTRIES2','EXITS2']]
df3=df130202[['C/A','UNIT','SCP','DATE3','TIME3','DESC3','ENTRIES3','EXITS3']]
df4=df130202[['C/A','UNIT','SCP','DATE4','TIME4','DESC4','ENTRIES4','EXITS4']]
df5=df130202[['C/A','UNIT','SCP','DATE5','TIME5','DESC5','ENTRIES5','EXITS5']]
df6=df130202[['C/A','UNIT','SCP','DATE6','TIME6','DESC6','ENTRIES6','EXITS6']]
df7=df130202[['C/A','UNIT','SCP','DATE7','TIME7','DESC7','ENTRIES7','EXITS7']]
df8=df130202[['C/A','UNIT','SCP','DATE8','TIME8','DESC8','ENTRIES8','EXITS8']]

df1.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df2.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df3.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df4.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df5.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df6.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df7.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df8.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']




df130202rs=df1.append(df2)
df130202rs=df130202rs.append(df3)
df130202rs=df130202rs.append(df4)
df130202rs=df130202rs.append(df5)
df130202rs=df130202rs.append(df6)
df130202rs=df130202rs.append(df7)
df130202rs=df130202rs.append(df8)

# change TIME data type from Object to Datetime
#print(df130202rs.TIME.dtype) #output object
#df130202rs.TIME=pd.to_datetime(df130202rs.TIME, format='%H:%M:%S', errors='ignore')
#print(df130202rs.TIME.dtype) #output object
print(df130202rs.sort_values(['C/A','UNIT','SCP','DATE','TIME']).head(20))

#print(df130202rs.head(20))
#NEntries=df130202rs[df130202rs['DATE']=='02-01-13'].ENTRIES.sum()
#NExits=df130202rs[df130202rs['DATE']=='02-01-13'].EXITS.sum()

#print(df130202rs[df130202rs['DATE']=='02-01-13'].head(20))

#(df130202rs['ENTRIES'] <10000) | (df130202rs['EXITS']<10000)) & (df130202rs['DATE']=='02-01-13')])
#print('Number of Exits is ' + str(NExits))

    C/A  UNIT       SCP      DATE      TIME     DESC    ENTRIES      EXITS
0  A002  R051  02-00-00  01-26-13  03:00:00  REGULAR  3967032.0  1367372.0
0  A002  R051  02-00-00  01-26-13  07:00:00  REGULAR  3967043.0  1367381.0
0  A002  R051  02-00-00  01-26-13  11:00:00  REGULAR  3967096.0  1367435.0
0  A002  R051  02-00-00  01-26-13  15:00:00  REGULAR  3967238.0  1367452.0
0  A002  R051  02-00-00  01-26-13  19:00:00  REGULAR  3967547.0  1367468.0
0  A002  R051  02-00-00  01-26-13  23:00:00  REGULAR  3967718.0  1367490.0
0  A002  R051  02-00-00  01-27-13  03:00:00  REGULAR  3967766.0  1367509.0
0  A002  R051  02-00-00  01-27-13  07:00:00  REGULAR  3967778.0  1367515.0
1  A002  R051  02-00-00  01-27-13  11:00:00  REGULAR  3967826.0  1367578.0
1  A002  R051  02-00-00  01-27-13  15:00:00  REGULAR  3967988.0  1367633.0
1  A002  R051  02-00-00  01-27-13  19:00:00  REGULAR  3968260.0  1367679.0
1  A002  R051  02-00-00  01-27-13  23:00:00  REGULAR  3968390.0  1367717.0
1  A002  R051  02-00-00  01-28-13  03:00:00  REGULAR  3968423.0  1367720.0
1  A002  R051  02-00-00  01-28-13  07:00:00  REGULAR  3968438.0  1367758.0
1  A002  R051  02-00-00  01-28-13  11:00:00  REGULAR  3968601.0  1368084.0
1  A002  R051  02-00-00  01-28-13  15:00:00  REGULAR  3968798.0  1368165.0
2  A002  R051  02-00-00  01-28-13  19:00:00  REGULAR  3969685.0  1368236.0
2  A002  R051  02-00-00  01-28-13  23:00:00  REGULAR  3969945.0  1368263.0
2  A002  R051  02-00-00  01-29-13  03:00:00  REGULAR  3969947.0  1368267.0
2  A002  R051  02-00-00  01-29-13  07:00:00  REGULAR  3969963.0  1368298.0

In [141]:
import numpy as np
#print(df130202rs[((df130202rs['ENTRIES'] <10000) | (df130202rs['EXITS']<10000)) & (df130202rs['DATE']=='02-01-13') & (df130202rs['DESC']=='REGULAR')])

df130201=df130202rs[(df130202rs['DATE']=='02-01-13')]
#print(df130201.count() )  #30591 rows no NaN
#print(df130201[df130201['DESC']=='REGULAR'].count() ) #27093 rows no NaN


df130131=df130202rs[df130202rs['DATE']=='01-31-13']
#print(df130131.count())#33873 rows no NaN
#print(df130131[df130131['DESC']=='REGULAR'].count() ) #27353 rows no NaN

#print(df130201.groupby(['C/A', 'UNIT', 'SCP']).agg({'TIME': ['min','max']}))

dfcb=pd.merge(df130201, df130131,how='inner', on=['C/A','UNIT','SCP','TIME'])

#print(dfcb.count()) #27608 rows no NaN

dfcbMaxTime=dfcb.groupby(['C/A', 'UNIT', 'SCP']).agg({'TIME': 'max'}).reset_index()

#print( dfcbMaxTime['TIME'].nunique()) #15 unique values

NEntries=pd.merge(dfcb, dfcbMaxTime, how='inner', on=['C/A','UNIT','SCP','TIME'])

print(NEntries)

        C/A  UNIT       SCP    DATE_x      TIME      DESC_x   ENTRIES_x  \
0      A022  R022  01-00-02  02-01-13  23:00:00     REGULAR   4806168.0
1      A025  R023  01-00-00  02-01-13  23:00:00  RECOVR AUD   5283528.0
2      A029  R082  00-03-00  02-01-13  23:00:00     REGULAR   4414937.0
3      A033  R170  02-00-03  02-01-13  20:00:00     REGULAR  13478261.0
4      A033  R170  02-00-04  02-01-13  20:00:00     REGULAR  15404955.0
5      A034  R170  03-00-01  02-01-13  20:00:00     REGULAR   8157312.0
6      A037  R170  05-00-02  02-01-13  20:00:00     REGULAR  13886774.0
7      A037  R170  05-00-03  02-01-13  20:00:00     REGULAR  16474377.0
8      A046  R463  00-00-03  02-01-13  20:00:00     REGULAR   1613819.0
9      A050  R088  00-00-01  02-01-13  20:00:00     REGULAR   3011968.0
10     A054  R227  01-00-02  02-01-13  23:00:00     REGULAR   1185843.0
11     A060  R001  00-00-02  02-01-13  20:00:00     REGULAR     67114.0
12     A061  R142  00-00-02  02-01-13  20:00:00     REGULAR   5525894.0
13     A061  R142  00-03-03  02-01-13  20:00:00     REGULAR    306509.0
14     A069  R044  01-00-03  02-01-13  23:00:00     REGULAR   4617489.0
15     A083  R125  00-00-03  02-01-13  20:00:00     REGULAR   1956406.0
16     B004  R171  00-00-01  02-01-13  20:00:00     REGULAR   8879838.0
17     B009  R411  00-00-01  02-01-13  20:00:00     REGULAR   1566361.0
18     B010  R412  00-03-00  02-01-13  20:00:00     REGULAR   1587941.0
19     B010  R412  00-03-01  02-01-13  20:00:00     REGULAR   1615969.0
20     B014  R148  00-00-00  02-01-13  20:00:00     REGULAR   7630979.0
21     B019  R149  00-00-04  02-01-13  20:00:00     REGULAR  11380915.0
22     B022  R229  00-00-00  02-01-13  23:00:00     REGULAR    200652.0
23     B022  R229  00-00-01  02-01-13  23:00:00     REGULAR    699013.0
24     B022  R229  00-00-02  02-01-13  23:00:00     REGULAR    381741.0
25     B024  R211  00-00-00  02-01-13  23:00:00     REGULAR  11878980.0
26     B024  R211  00-00-01  02-01-13  23:00:00     REGULAR  10868886.0
27     B024  R211  00-00-02  02-01-13  23:00:00     REGULAR   4712827.0
28     B024  R211  00-00-03  02-01-13  23:00:00     REGULAR   8034669.0
29     B024  R211  00-05-00  02-01-13  23:00:00     REGULAR       258.0
...     ...   ...       ...       ...       ...         ...         ...
4103   R526  R096  00-05-01  02-01-13  23:00:00  RECOVR AUD    804904.0
4104   R529  R208  00-05-01  02-01-13  23:00:00     REGULAR   6562939.0
4105   R529  R208  00-06-01  02-01-13  23:00:00     REGULAR   1926427.0
4106   R534  R055  01-03-01  02-01-13  11:00:00     REGULAR   6981472.0
4107   R534  R055  01-03-04  02-01-13  11:00:00     REGULAR  12741505.0
4108   R600  R224  00-00-00  02-01-13  23:00:00     REGULAR   1844221.0
4109   R600  R224  00-00-01  02-01-13  23:00:00     REGULAR   4564946.0
4110   R600  R224  00-00-02  02-01-13  23:00:00     REGULAR   9158537.0
4111  R601A  R108  02-00-01  02-01-13  23:00:00     REGULAR  10521032.0
4112   R602  R108  00-06-00  02-01-13  23:00:00     REGULAR   1905851.0
4113   R610  R057  00-06-03  02-01-13  23:00:00     REGULAR   1229941.0
4114   R622  R123  00-00-02  02-01-13  23:00:00     REGULAR   2298906.0
4115   R625  R062  01-00-00  02-01-13  23:00:00     REGULAR    714799.0
4116   R626  R062  00-00-04  02-01-13  23:00:00     REGULAR   4240028.0
4117   R626  R062  00-03-02  02-01-13  23:00:00     REGULAR   5612974.0
4118   R627  R063  00-00-01  02-01-13  23:00:00     REGULAR   4943853.0
4119   R644  R135  01-00-00  02-01-13  20:00:00     REGULAR      3211.0
4120   R645  R110  00-00-00  02-01-13  20:00:00     REGULAR   8387835.0
4121   R645  R110  00-00-01  02-01-13  20:00:00     REGULAR   5249911.0
4122   R645  R110  00-00-02  02-01-13  20:00:00     REGULAR   7243352.0
4123   R646  R110  01-05-01  02-01-13  20:00:00     REGULAR         1.0
4124   R726  R329  00-00-00  02-01-13  20:00:00     REGULAR    176238.0
4125   R726  R329  00-00-01  02-01-13  20:00:00     REGULAR    465343.0
4126   R726  R329  00-00-02  02-01-13  20:00:00     REGULAR   3985939.0
4127   R727  R430  00-00-00  02-01-13  20:00:00     REGULAR   1502438.0
4128   R727  R430  00-00-02  02-01-13  20:00:00     REGULAR   3087255.0
4129   R728  R226  00-00-03  02-01-13  03:00:00     REGULAR   4916332.0
4130  S101A  R070  01-03-00  02-01-13  23:00:00     REGULAR    356189.0
4131  TRAM1  R468  00-00-01  02-01-13  20:00:00     REGULAR     34763.0
4132  TRAM1  R468  00-05-00  02-01-13  20:00:00     REGULAR        16.0

         EXITS_x    DATE_y   DESC_y   ENTRIES_y     EXITS_y
0      2065857.0  01-31-13  REGULAR   4801455.0   2064953.0
1      9950282.0  01-31-13  REGULAR   5281030.0   9946678.0
2      4007541.0  01-31-13  REGULAR   4414795.0   4006785.0
3     15011546.0  01-31-13  REGULAR  13475162.0  15007913.0
4     11984839.0  01-31-13  REGULAR  15400499.0  11981678.0
5     12039339.0  01-31-13  REGULAR   8155955.0  12036537.0
6      4657870.0  01-31-13  REGULAR  13881897.0   4656564.0
7      3250355.0  01-31-13  REGULAR  16469641.0   3249917.0
8       137097.0  01-31-13  REGULAR   1611414.0    136858.0
9      2676451.0  01-31-13  REGULAR   3011697.0   2675862.0
10      365727.0  01-31-13  REGULAR   1185754.0    365643.0
11       56004.0  01-31-13  REGULAR     66031.0     55529.0
12     3869484.0  01-31-13  REGULAR   5523799.0   3868783.0
13     1260516.0  01-31-13  REGULAR    306065.0   1258520.0
14     2037383.0  01-31-13  REGULAR   4615812.0   2036870.0
15     2512172.0  01-31-13  REGULAR   1956286.0   2511806.0
16     9222219.0  01-31-13  REGULAR   8878010.0   9220516.0
17     2259352.0  01-31-13  REGULAR   1565818.0   2258567.0
18     1158274.0  01-31-13  REGULAR   1587450.0   1158001.0
19      596541.0  01-31-13  REGULAR   1615720.0    596269.0
20    12679014.0  01-31-13  REGULAR   7629488.0  12677569.0
21     7518198.0  01-31-13  REGULAR  11378479.0   7516604.0
22      280804.0  01-31-13  REGULAR    200147.0    280005.0
23      322560.0  01-31-13  REGULAR    698266.0    322299.0
24      110373.0  01-31-13  REGULAR    380906.0    110215.0
25     7991221.0  01-31-13  REGULAR  11877003.0   7989855.0
26     8711213.0  01-31-13  REGULAR  10867140.0   8710037.0
27     5165518.0  01-31-13  REGULAR   4711241.0   5163892.0
28     3971213.0  01-31-13  REGULAR   8033360.0   3968819.0
29           0.0  01-31-13  REGULAR       257.0         0.0
...          ...       ...      ...         ...         ...
4103    329951.0  01-31-13  REGULAR    801581.0    328664.0
4104   5504276.0  01-31-13  REGULAR   6560633.0   5503267.0
4105   3522389.0  01-31-13  REGULAR   1925158.0   3520445.0
4106   3819075.0  01-31-13  REGULAR   6979126.0   3817754.0
4107   4269138.0  01-31-13  REGULAR  12738105.0   4267847.0
4108   5654317.0  01-31-13  REGULAR   1843695.0   5653410.0
4109   4942214.0  01-31-13  REGULAR   4563798.0   4941328.0
4110   6181230.0  01-31-13  REGULAR   9156476.0   6179888.0
4111   6850293.0  01-31-13  REGULAR  10519239.0   6849422.0
4112    313393.0  01-31-13  REGULAR   1902144.0    312931.0
4113    626878.0  01-31-13  REGULAR   1229642.0    626742.0
4114    784674.0  01-31-13  REGULAR   2297448.0    784193.0
4115   1535903.0  01-31-13  REGULAR    714212.0   1534556.0
4116  12291439.0  01-31-13  REGULAR   4238356.0  12287552.0
4117   1392662.0  01-31-13  REGULAR   5610670.0   1392234.0
4118   2783356.0  01-31-13  REGULAR   4941178.0   2782222.0
4119   1039432.0  01-31-13  REGULAR      3203.0   1038381.0
4120  11134891.0  01-31-13  REGULAR   8385811.0  11132761.0
4121   5203492.0  01-31-13  REGULAR   5248676.0   5202488.0
4122   4100075.0  01-31-13  REGULAR   7242137.0   4099355.0
4123       118.0  01-31-13  REGULAR         1.0       118.0
4124    640570.0  01-31-13  REGULAR    175937.0    639078.0
4125    261697.0  01-31-13  REGULAR    464679.0    261353.0
4126    931249.0  01-31-13  REGULAR   3984814.0    930982.0
4127   1070136.0  01-31-13  REGULAR   1501388.0   1069393.0
4128   4329643.0  01-31-13  REGULAR   3086155.0   4328274.0
4129    648479.0  01-31-13  REGULAR   4915032.0    648292.0
4130        74.0  01-31-13  REGULAR    355515.0        74.0
4131       339.0  01-31-13  REGULAR     33266.0       332.0
4132         0.0  01-31-13  REGULAR        15.0         0.0

[4133 rows x 12 columns]