NYC MTA Turnstile Usage Dataset

Have a look at / download the following dataset :

- Go to http://web.mta.info/developers/turnstile.html

- This dataset shows entry & exit counter values for each turnstile-device in each station in the NYC Subway System.

- Note these aren’t counts per interval, but equivalent to an “odometer” reading for each device.

In [142]:
#from datetime import datetime, timedelta
#import pandas as pd
#date=datetime(2010,5,8)
#while date<=datetime(2018,5,5):
#    datestr=date.strftime("%y%m%d")
#    mtaurl='http://web.mta.info/developers/data/nyct/turnstile/turnstile_' + datestr + '.txt'
#    print(mtaurl)
#    date=date+timedelta(weeks=1)
#    try:
#        dfnew= pd.read_csv(mtaurl)
#        df=df.append(dfnew)
#    except Exception:
#        pass
#print(df.head())

Which station has the most number of units?

Station: 23 ST

In [39]:
df180505=pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180505.txt')
print(df180505.groupby('STATION').UNIT.nunique().reset_index(name='count').sort_values(['count'],ascending=False).head(1))
df180428=pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180428.txt')
print(df180428.groupby('STATION').UNIT.nunique().reset_index(name='count').sort_values(['count'],ascending=False).head(1))

   STATION  count
45   23 ST      6
   STATION  count
45   23 ST      6

What is the total number of entries & exits across the subway system for February 1, 2013?

In [3]:
import pandas as pd
df130202=pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_130202.txt', header=None)

df130202.columns=['C/A','UNIT','SCP','DATE1','TIME1','DESC1','ENTRIES1','EXITS1','DATE2','TIME2','DESC2','ENTRIES2','EXITS2',
                  'DATE3','TIME3','DESC3','ENTRIES3','EXITS3','DATE4','TIME4','DESC4','ENTRIES4','EXITS4',
                  'DATE5','TIME5','DESC5','ENTRIES5','EXITS5','DATE6','TIME6','DESC6','ENTRIES6','EXITS6',
                  'DATE7','TIME7','DESC7','ENTRIES7','EXITS7','DATE8','TIME8','DESC8','ENTRIES8','EXITS8']

#Nentries=df130202[df130202['DATE']=='02/01/2013'].ENTRIES.nunique()
#Nexits=df130202[df130202['DATE']=='02/01/2013'].EXITS.nunique()

#print(df130202[['DATE1','DATE2','DATE3','DATE4','DATE5','DATE6','DATE7']].head(10))

df1=df130202[['C/A','UNIT','SCP','DATE1','TIME1','DESC1','ENTRIES1','EXITS1']]
df2=df130202[['C/A','UNIT','SCP','DATE2','TIME2','DESC2','ENTRIES2','EXITS2']]
df3=df130202[['C/A','UNIT','SCP','DATE3','TIME3','DESC3','ENTRIES3','EXITS3']]
df4=df130202[['C/A','UNIT','SCP','DATE4','TIME4','DESC4','ENTRIES4','EXITS4']]
df5=df130202[['C/A','UNIT','SCP','DATE5','TIME5','DESC5','ENTRIES5','EXITS5']]
df6=df130202[['C/A','UNIT','SCP','DATE6','TIME6','DESC6','ENTRIES6','EXITS6']]
df7=df130202[['C/A','UNIT','SCP','DATE7','TIME7','DESC7','ENTRIES7','EXITS7']]
df8=df130202[['C/A','UNIT','SCP','DATE8','TIME8','DESC8','ENTRIES8','EXITS8']]

df1.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df2.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df3.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df4.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df5.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df6.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df7.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df8.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']




df130202rs=df1.append(df2)
df130202rs=df130202rs.append(df3)
df130202rs=df130202rs.append(df4)
df130202rs=df130202rs.append(df5)
df130202rs=df130202rs.append(df6)
df130202rs=df130202rs.append(df7)
df130202rs=df130202rs.append(df8)

# change TIME data type from Object to Datetime
#print(df130202rs.TIME.dtype) #output object
#df130202rs.TIME=pd.to_datetime(df130202rs.TIME, format='%H:%M:%S', errors='ignore')
#print(df130202rs.TIME.dtype) #output object
print(df130202rs.sort_values(['C/A','UNIT','SCP','DATE','TIME']).head(20))

#print(df130202rs.head(20))
#NEntries=df130202rs[df130202rs['DATE']=='02-01-13'].ENTRIES.sum()
#NExits=df130202rs[df130202rs['DATE']=='02-01-13'].EXITS.sum()

#print(df130202rs[df130202rs['DATE']=='02-01-13'].head(20))

#(df130202rs['ENTRIES'] <10000) | (df130202rs['EXITS']<10000)) & (df130202rs['DATE']=='02-01-13')])
#print('Number of Exits is ' + str(NExits))

    C/A  UNIT       SCP      DATE      TIME     DESC    ENTRIES      EXITS
0  A002  R051  02-00-00  01-26-13  03:00:00  REGULAR  3967032.0  1367372.0
0  A002  R051  02-00-00  01-26-13  07:00:00  REGULAR  3967043.0  1367381.0
0  A002  R051  02-00-00  01-26-13  11:00:00  REGULAR  3967096.0  1367435.0
0  A002  R051  02-00-00  01-26-13  15:00:00  REGULAR  3967238.0  1367452.0
0  A002  R051  02-00-00  01-26-13  19:00:00  REGULAR  3967547.0  1367468.0
0  A002  R051  02-00-00  01-26-13  23:00:00  REGULAR  3967718.0  1367490.0
0  A002  R051  02-00-00  01-27-13  03:00:00  REGULAR  3967766.0  1367509.0
0  A002  R051  02-00-00  01-27-13  07:00:00  REGULAR  3967778.0  1367515.0
1  A002  R051  02-00-00  01-27-13  11:00:00  REGULAR  3967826.0  1367578.0
1  A002  R051  02-00-00  01-27-13  15:00:00  REGULAR  3967988.0  1367633.0
1  A002  R051  02-00-00  01-27-13  19:00:00  REGULAR  3968260.0  1367679.0
1  A002  R051  02-00-00  01-27-13  23:00:00  REGULAR  3968390.0  1367717.0
1  A002  R051  02-00-00  01-28-13  03:00:00  REGULAR  3968423.0  1367720.0
1  A002  R051  02-00-00  01-28-13  07:00:00  REGULAR  3968438.0  1367758.0
1  A002  R051  02-00-00  01-28-13  11:00:00  REGULAR  3968601.0  1368084.0
1  A002  R051  02-00-00  01-28-13  15:00:00  REGULAR  3968798.0  1368165.0
2  A002  R051  02-00-00  01-28-13  19:00:00  REGULAR  3969685.0  1368236.0
2  A002  R051  02-00-00  01-28-13  23:00:00  REGULAR  3969945.0  1368263.0
2  A002  R051  02-00-00  01-29-13  03:00:00  REGULAR  3969947.0  1368267.0
2  A002  R051  02-00-00  01-29-13  07:00:00  REGULAR  3969963.0  1368298.0

In [10]:
import numpy as np
#print(df130202rs[((df130202rs['ENTRIES'] <10000) | (df130202rs['EXITS']<10000)) & (df130202rs['DATE']=='02-01-13') & (df130202rs['DESC']=='REGULAR')])

df130201=df130202rs[(df130202rs['DATE']=='02-01-13')]
#print(df130201.count() )  #30591 rows no NaN
#print(df130201[df130201['DESC']=='REGULAR'].count() ) #27093 rows no NaN


df130131=df130202rs[df130202rs['DATE']=='01-31-13']
#print(df130131.count())#33873 rows no NaN
#print(df130131[df130131['DESC']=='REGULAR'].count() ) #27353 rows no NaN

#print(df130201.groupby(['C/A', 'UNIT', 'SCP']).agg({'TIME': ['min','max']}))

dfcb=pd.merge(df130201, df130131,how='inner', on=['C/A','UNIT','SCP','TIME'])

#print(dfcb.count()) #27608 rows no NaN

dfcbMaxTime=dfcb.groupby(['C/A', 'UNIT', 'SCP']).agg({'TIME': 'max'}).reset_index()

#print( dfcbMaxTime['TIME'].nunique()) #15 unique values

EE=pd.merge(dfcb, dfcbMaxTime, how='inner', on=['C/A','UNIT','SCP','TIME'])

EE['ENTRIESDelta']=EE['ENTRIES_x']-EE['ENTRIES_y']
EE['EXITSDelta']=EE['EXITS_x']-EE['EXITS_y']

print(EE['ENTRIESDelta'].sum())

print(EE['EXITSDelta'].sum())

print(EE[(EE['ENTRIESDelta']<0) | (EE['EXITSDelta']<0)])

86527400.0
1267011.0
        C/A  UNIT       SCP    DATE_x      TIME   DESC_x   ENTRIES_x  EXITS_x  \
1785  JFK01  R535  00-00-03  02-01-13  12:00:00  REGULAR        11.0     19.0
2424   N418  R269  01-06-00  02-01-13  23:00:00  REGULAR  83886482.0    674.0

        DATE_y   DESC_y  ENTRIES_y    EXITS_y  ENTRIESDelta  EXITSDelta
1785  01-31-13  REGULAR     8652.0    50159.0       -8641.0    -50140.0
2424  01-31-13  REGULAR  2981250.0  3006049.0    80905232.0  -3005375.0

 Let’s define the busy-ness as sum of entry & exit count. What station was the busiest on February 1, 2013? What turnstile was the busiest on that date?

In [8]:
EE['E+E']=EE['ENTRIESDelta']+EE['EXITSDelta']

print(EE['E+E'].groupby(EE['UNIT']).sum())

UNIT
R001     16965.0
R003      2484.0
R004      7789.0
R005      6538.0
R006      7678.0
R007      4818.0
R008      5110.0
R009      3876.0
R010     60241.0
R011    120318.0
R012    116158.0
R013     55506.0
R014     64832.0
R015     50932.0
R016     19672.0
R017     78763.0
R018     93558.0
R019     34569.0
R020    130887.0
R021     86270.0
R022    114801.0
R023    107521.0
R024     44042.0
R025     79702.0
R027     51468.0
R028     53418.0
R029     84425.0
R030     47258.0
R031     74014.0
R032     76623.0
          ...
R435      7047.0
R436      7330.0
R437     10052.0
R438      9101.0
R439      9137.0
R440      5198.0
R441      6496.0
R442      5769.0
R443     10503.0
R444      5457.0
R445     14340.0
R446     12751.0
R447      7014.0
R448      2121.0
R449      9286.0
R450      7191.0
R451     10046.0
R452     82006.0
R453     31007.0
R454      5358.0
R455      3323.0
R456      6586.0
R460     18109.0
R461     68951.0
R462     17435.0
R463     40590.0
R468      2891.0
R469      2840.0
R535    -55523.0
R536     11445.0
Name: E+E, Length: 445, dtype: float64

What stations have seen the most usage growth/decline in 2013?

In [25]:
from datetime import datetime, timedelta
#import pandas as pd
date=datetime(2013,1,5)
df2013=pd.DataFrame([])
    

while date<=datetime(2014,1,4):
    datestr=date.strftime("%y%m%d")
    mtaurl='http://web.mta.info/developers/data/nyct/turnstile/turnstile_' + datestr + '.txt'
    #
    date=date+timedelta(weeks=1)
    try:
        dfnew= pd.read_csv(mtaurl, header=None)
        df2013=df2013.append(dfnew)
    except Exception:
        print(mtaurl) #print the url if it wasn't load correctly
        pass
df2013.columns=['C/A','UNIT','SCP','DATE1','TIME1','DESC1','ENTRIES1','EXITS1','DATE2','TIME2','DESC2','ENTRIES2','EXITS2',
                  'DATE3','TIME3','DESC3','ENTRIES3','EXITS3','DATE4','TIME4','DESC4','ENTRIES4','EXITS4',
                  'DATE5','TIME5','DESC5','ENTRIES5','EXITS5','DATE6','TIME6','DESC6','ENTRIES6','EXITS6',
                  'DATE7','TIME7','DESC7','ENTRIES7','EXITS7','DATE8','TIME8','DESC8','ENTRIES8','EXITS8']
print(df2013.head())

http://web.mta.info/developers/data/nyct/turnstile/turnstile_130406.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_130413.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_130511.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_130720.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_131109.txt
http://web.mta.info/developers/data/nyct/turnstile/turnstile_131130.txt
    C/A  UNIT       SCP     DATE1     TIME1    DESC1  ENTRIES1   EXITS1  \
0  A002  R051  02-00-00  12-29-12  03:00:00  REGULAR   3929425  1354918
1  A002  R051  02-00-00  12-30-12  11:00:00  REGULAR   3930423  1355207
2  A002  R051  02-00-00  12-31-12  19:00:00  REGULAR   3932088  1355684
3  A002  R051  02-00-00  01-02-13  03:00:00  REGULAR   3932806  1355869
4  A002  R051  02-00-00  01-02-13  23:00:00  REGULAR   3934459  1356406

      DATE2     TIME2    ...         DATE7     TIME7    DESC7   ENTRIES7  \
0  12-29-12  07:00:00    ...      12-30-12  03:00:00  REGULAR  3930369.0
1  12-30-12  15:00:00    ...      12-31-12  11:00:00  REGULAR  3931252.0
2  12-31-12  23:00:00    ...      01-01-13  19:00:00  REGULAR  3932662.0
3  01-02-13  07:00:00    ...      01-02-13  15:00:00  REGULAR  3933226.0
4  01-03-13  03:00:00    ...      01-03-13  11:00:00  REGULAR  3934669.0

      EXITS7     DATE8     TIME8    DESC8   ENTRIES8     EXITS8
0  1355149.0  12-30-12  07:00:00  REGULAR  3930380.0  1355156.0
1  1355558.0  12-31-12  15:00:00  REGULAR  3931566.0  1355630.0
2  1355849.0  01-01-13  23:00:00  REGULAR  3932782.0  1355864.0
3  1356280.0  01-02-13  19:00:00  REGULAR  3934152.0  1356375.0
4  1356720.0  01-03-13  15:00:00  REGULAR  3934871.0  1356793.0

[5 rows x 43 columns]

In [27]:

df11=df2013[['C/A','UNIT','SCP','DATE1','TIME1','DESC1','ENTRIES1','EXITS1']]
df21=df2013[['C/A','UNIT','SCP','DATE2','TIME2','DESC2','ENTRIES2','EXITS2']]
df31=df2013[['C/A','UNIT','SCP','DATE3','TIME3','DESC3','ENTRIES3','EXITS3']]
df41=df2013[['C/A','UNIT','SCP','DATE4','TIME4','DESC4','ENTRIES4','EXITS4']]
df51=df2013[['C/A','UNIT','SCP','DATE5','TIME5','DESC5','ENTRIES5','EXITS5']]
df61=df2013[['C/A','UNIT','SCP','DATE6','TIME6','DESC6','ENTRIES6','EXITS6']]
df71=df2013[['C/A','UNIT','SCP','DATE7','TIME7','DESC7','ENTRIES7','EXITS7']]
df81=df2013[['C/A','UNIT','SCP','DATE8','TIME8','DESC8','ENTRIES8','EXITS8']]

df11.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df21.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df31.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df41.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df51.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df61.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df71.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']
df81.columns=['C/A','UNIT','SCP','DATE','TIME','DESC','ENTRIES','EXITS']

df2013rs=df11.append(df21)
df2013rs=df2013rs.append(df31)
df2013rs=df2013rs.append(df41)
df2013rs=df2013rs.append(df51)
df2013rs=df2013rs.append(df61)
df2013rs=df2013rs.append(df71)
df2013rs=df2013rs.append(df81)

print(df2013rs.head(100))

     C/A  UNIT       SCP      DATE      TIME        DESC    ENTRIES      EXITS
0   A002  R051  02-00-00  12-29-12  03:00:00     REGULAR  3929425.0  1354918.0
1   A002  R051  02-00-00  12-30-12  11:00:00     REGULAR  3930423.0  1355207.0
2   A002  R051  02-00-00  12-31-12  19:00:00     REGULAR  3932088.0  1355684.0
3   A002  R051  02-00-00  01-02-13  03:00:00     REGULAR  3932806.0  1355869.0
4   A002  R051  02-00-00  01-02-13  23:00:00     REGULAR  3934459.0  1356406.0
5   A002  R051  02-00-00  01-03-13  19:00:00     REGULAR  3935784.0  1356882.0
6   A002  R051  02-00-01  12-29-12  03:00:00     REGULAR  3756803.0   812527.0
7   A002  R051  02-00-01  12-30-12  11:00:00     REGULAR  3757575.0   812762.0
8   A002  R051  02-00-01  12-31-12  19:00:00     REGULAR  3759087.0   813075.0
9   A002  R051  02-00-01  01-02-13  03:00:00     REGULAR  3759731.0   813220.0
10  A002  R051  02-00-01  01-02-13  23:00:00     REGULAR  3761049.0   813536.0
11  A002  R051  02-00-01  01-03-13  15:00:00     REGULAR  3761385.0   813787.0
12  A002  R051  02-00-01  01-04-13  23:00:00     REGULAR  3763686.0   814168.0
13  A002  R051  02-03-00  12-29-12  03:00:00     REGULAR    35424.0   128463.0
14  A002  R051  02-03-00  12-30-12  11:00:00     REGULAR    35905.0   129900.0
15  A002  R051  02-03-00  12-31-12  19:00:00     REGULAR    36686.0   132263.0
16  A002  R051  02-03-00  01-02-13  03:00:00     REGULAR    37053.0   133391.0
17  A002  R051  02-03-00  01-02-13  23:00:00     REGULAR    37734.0   135631.0
18  A002  R051  02-03-00  01-04-13  07:00:00     REGULAR    38425.0   138094.0
19  A002  R051  02-03-01  12-29-12  03:00:00     REGULAR  3572073.0  5566179.0
20  A002  R051  02-03-01  12-30-12  11:00:00     REGULAR  3573160.0  5567883.0
21  A002  R051  02-03-01  12-31-12  19:00:00     REGULAR  3574854.0  5570529.0
22  A002  R051  02-03-01  01-02-13  03:00:00     REGULAR  3575838.0  5571852.0
23  A002  R051  02-03-01  01-02-13  23:00:00     REGULAR  3577209.0  5574141.0
24  A002  R051  02-03-01  01-04-13  07:00:00     REGULAR  3578685.0  5576624.0
25  A002  R051  02-03-02  12-29-12  03:00:00     REGULAR  3307585.0  4586535.0
26  A002  R051  02-03-02  12-30-12  11:00:00     REGULAR  3308656.0  4587818.0
27  A002  R051  02-03-02  12-31-12  19:00:00     REGULAR  3310348.0  4589869.0
28  A002  R051  02-03-02  01-02-13  03:00:00     REGULAR  3311283.0  4590845.0
29  A002  R051  02-03-02  01-02-13  23:00:00     REGULAR  3312712.0  4592726.0
..   ...   ...       ...       ...       ...         ...        ...        ...
70  A002  R051  02-06-00  12-30-12  11:00:00     REGULAR  4057588.0   113254.0
71  A002  R051  02-06-00  12-31-12  19:00:00     REGULAR  4059672.0   113293.0
72  A002  R051  02-06-00  01-02-13  03:00:00     REGULAR  4060642.0   113325.0
73  A002  R051  02-06-00  01-02-13  23:00:00     REGULAR  4062624.0   113356.0
74  A002  R051  02-06-00  01-04-13  07:00:00     REGULAR  4064923.0   113383.0
75  A006  R079  00-00-00  12-29-12  01:00:00     REGULAR   127488.0   235526.0
76  A006  R079  00-00-00  12-30-12  09:00:00     REGULAR   128837.0   238221.0
77  A006  R079  00-00-00  12-31-12  11:51:58       LOGON   130242.0   241647.0
78  A006  R079  00-00-00  12-31-12  13:42:11  DOOR CLOSE   130347.0   241957.0
79  A006  R079  00-00-00  01-01-13  09:00:00     REGULAR   131859.0   243170.0
80  A006  R079  00-00-00  01-02-13  17:00:00     REGULAR   133392.0   248101.0
81  A006  R079  00-00-00  01-04-13  01:00:00     REGULAR   136528.0   252904.0
82  A006  R079  00-00-01  12-29-12  01:00:00     REGULAR  1404925.0  1055208.0
83  A006  R079  00-00-01  12-30-12  09:00:00     REGULAR  1406330.0  1056252.0
84  A006  R079  00-00-01  12-31-12  17:00:00     REGULAR  1408542.0  1058080.0
85  A006  R079  00-00-01  01-02-13  01:00:00     REGULAR  1410369.0  1058949.0
86  A006  R079  00-00-01  01-03-13  09:00:00     REGULAR  1412405.0  1060802.0
87  A006  R079  00-00-01  01-04-13  17:00:00     REGULAR  1415221.0  1063108.0
88  A006  R079  00-00-02  12-29-12  01:00:00     REGULAR  5710070.0  2598183.0
89  A006  R079  00-00-02  12-30-12  09:00:00     REGULAR  5711225.0  2598671.0
90  A006  R079  00-00-02  12-31-12  17:00:00     REGULAR  5713057.0  2599689.0
91  A006  R079  00-00-02  01-02-13  01:00:00     REGULAR  5714452.0  2600073.0
92  A006  R079  00-00-02  01-03-13  09:00:00     REGULAR  5716123.0  2601055.0
93  A006  R079  00-00-02  01-04-13  17:00:00     REGULAR  5718444.0  2602283.0
94  A006  R079  00-00-03  12-29-12  01:00:00     REGULAR   675720.0   279783.0
95  A006  R079  00-00-03  12-30-12  09:00:00     REGULAR   676628.0   280094.0
96  A006  R079  00-00-03  12-31-12  17:00:00     REGULAR   678230.0   280755.0
97  A006  R079  00-00-03  01-02-13  01:00:00     REGULAR   679387.0   281012.0
98  A006  R079  00-00-03  01-03-13  09:00:00     REGULAR   680780.0   281692.0
99  A006  R079  00-00-03  01-04-13  17:00:00     REGULAR   682702.0   282532.0

[100 rows x 8 columns]

Plot the daily row counts for data files in Q1 2013.

In [35]:
df2013rs.Date=pd.to_datetime(df2013rs['DATE'], format='%m-%d-%y', errors='ignore')

print(df2013rs[df2013rs['DATE'].isnull()])

         C/A  UNIT       SCP DATE TIME DESC  ENTRIES  EXITS
12      A002  R051  02-00-01  NaN  NaN  NaN      NaN    NaN
364     A016  R081  03-00-00  NaN  NaN  NaN      NaN    NaN
370     A016  R081  03-00-01  NaN  NaN  NaN      NaN    NaN
376     A016  R081  03-00-02  NaN  NaN  NaN      NaN    NaN
382     A016  R081  03-06-00  NaN  NaN  NaN      NaN    NaN
388     A016  R081  03-06-01  NaN  NaN  NaN      NaN    NaN
394     A021  R032  01-00-00  NaN  NaN  NaN      NaN    NaN
400     A021  R032  01-00-01  NaN  NaN  NaN      NaN    NaN
406     A021  R032  01-00-02  NaN  NaN  NaN      NaN    NaN
412     A021  R032  01-00-03  NaN  NaN  NaN      NaN    NaN
418     A021  R032  01-00-04  NaN  NaN  NaN      NaN    NaN
424     A021  R032  01-00-05  NaN  NaN  NaN      NaN    NaN
430     A021  R032  01-00-06  NaN  NaN  NaN      NaN    NaN
436     A021  R032  01-00-07  NaN  NaN  NaN      NaN    NaN
787     A035  R170  00-00-00  NaN  NaN  NaN      NaN    NaN
982     A043  R462  00-00-01  NaN  NaN  NaN      NaN    NaN
989     A043  R462  00-00-02  NaN  NaN  NaN      NaN    NaN
1056    A046  R463  00-00-02  NaN  NaN  NaN      NaN    NaN
1315    A050  R088  00-03-02  NaN  NaN  NaN      NaN    NaN
1335    A050  R088  00-05-01  NaN  NaN  NaN      NaN    NaN
1500    A060  R001  00-00-00  NaN  NaN  NaN      NaN    NaN
1537    A060  R001  00-00-04  NaN  NaN  NaN      NaN    NaN
1637    A066  R118  00-00-01  NaN  NaN  NaN      NaN    NaN
1830    A083  R125  00-00-02  NaN  NaN  NaN      NaN    NaN
1837    A083  R125  00-00-03  NaN  NaN  NaN      NaN    NaN
1898    B004  R171  00-00-00  NaN  NaN  NaN      NaN    NaN
1905    B004  R171  00-00-01  NaN  NaN  NaN      NaN    NaN
1932    B009  R411  00-00-01  NaN  NaN  NaN      NaN    NaN
1939    B009  R411  00-00-02  NaN  NaN  NaN      NaN    NaN
2194    B019  R149  00-00-03  NaN  NaN  NaN      NaN    NaN
...      ...   ...       ...  ...  ...  ...      ...    ...
28435  S101A  R070  01-00-00  NaN  NaN  NaN      NaN    NaN
28441  S101A  R070  01-00-01  NaN  NaN  NaN      NaN    NaN
28447  S101A  R070  01-00-02  NaN  NaN  NaN      NaN    NaN
28453  S101A  R070  01-00-03  NaN  NaN  NaN      NaN    NaN
28459  S101A  R070  01-00-04  NaN  NaN  NaN      NaN    NaN
28465  S101A  R070  01-00-05  NaN  NaN  NaN      NaN    NaN
28471  S101A  R070  01-00-06  NaN  NaN  NaN      NaN    NaN
28477  S101A  R070  01-03-00  NaN  NaN  NaN      NaN    NaN
28483  S101A  R070  01-03-01  NaN  NaN  NaN      NaN    NaN
28489  S101A  R070  01-03-02  NaN  NaN  NaN      NaN    NaN
28495  S101A  R070  01-03-03  NaN  NaN  NaN      NaN    NaN
28501  S101A  R070  01-05-00  NaN  NaN  NaN      NaN    NaN
28507  S101A  R070  01-05-01  NaN  NaN  NaN      NaN    NaN
28513   S102  R165  00-00-00  NaN  NaN  NaN      NaN    NaN
28519   S102  R165  00-00-01  NaN  NaN  NaN      NaN    NaN
28525   S102  R165  00-03-00  NaN  NaN  NaN      NaN    NaN
28531   S102  R165  00-03-01  NaN  NaN  NaN      NaN    NaN
28537   S102  R165  00-03-02  NaN  NaN  NaN      NaN    NaN
28543   S102  R165  00-05-00  NaN  NaN  NaN      NaN    NaN
28549   S102  R165  00-05-01  NaN  NaN  NaN      NaN    NaN
28557  TRAM1  R468  00-00-00  NaN  NaN  NaN      NaN    NaN
28565  TRAM1  R468  00-00-01  NaN  NaN  NaN      NaN    NaN
28573  TRAM1  R468  00-00-02  NaN  NaN  NaN      NaN    NaN
28580  TRAM1  R468  00-05-00  NaN  NaN  NaN      NaN    NaN
28588  TRAM2  R469  00-00-00  NaN  NaN  NaN      NaN    NaN
28596  TRAM2  R469  00-00-01  NaN  NaN  NaN      NaN    NaN
28603  TRAM2  R469  00-03-00  NaN  NaN  NaN      NaN    NaN
28610  TRAM2  R469  00-03-01  NaN  NaN  NaN      NaN    NaN
28617  TRAM2  R469  00-05-00  NaN  NaN  NaN      NaN    NaN
28623  TRAM2  R469  00-05-01  NaN  NaN  NaN      NaN    NaN

[830822 rows x 8 columns]